[ req ]
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
commonName                 = Common Name (e.g. server FQDN or YOUR name)
[ req_ext ]
subjectAltName = @alt_names
####################################################################
# Example alternative names
# IP.1 = 10.0.0.1
# DNS.1 = localhost
#
[alt_names]
IP.1   = ALTERNATIVE_IP_ADDRESS
