{
	"entityInfo": {
		"name": "net1.client",
		"group": "Clients",
		"distProtocol": "TCP",
		"usePermanentDistKey": false,
		"privateKey": "../../credentials/keys/net1/ClientKey.pem"
	},
	"authInfo": {
		"id": 101,
		"host": "localhost",
		"port": 21900,
		"publicKey": "../../auth_certs/Auth101EntityCert.pem"
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		}
	},
	"targetServerInfoList": [
		{"name": "net1.server", "host": "localhost", "port": 21100},
		{"name": "net1.ptServer", "host": "localhost", "port": 21200},
		{"name": "net1.rcServer", "host": "localhost", "port": 21300},
		{"name": "net1.udpServer", "host": "localhost", "port": 21400},
		{"name": "net2.server", "host": "localhost", "port": 22100},
		{"name": "net2.ptServer", "host": "localhost", "port": 22200},
		{"name": "net2.rcServer", "host": "localhost", "port": 22300},
		{"name": "net2.udpServer", "host": "localhost", "port": 22400}
	]
}
