// entityInfo (name, group, private key path)
entityInfo		net1.client		Clients		../../credentials/keys/net1/ClientKey.pem

// authInfo (id, host, port, public key path)
authInfo		101 	localhost		21900		../../auth_certs/Auth101EntityCert.pem

// List of targetServerInfo (name, host, port) - default host & port to which the client connects to
// this can be more than one
targetServerInfo		net1.server 	localhost	21100
targetServerInfo		net2.server 	localhost	22100
