{
	"entityInfo": {
		"name": "net1.client",
		"group": "Clients",
		"privateKey": "../../credentials/keys/net1/ClientKey.pem"
	},
	"authInfo": {
		"id": 101,
		"host": "localhost",
		"port": 21900,
		"publicKey": "../../auth_certs/Auth101EntityCert.pem"
	},
	"targetServerInfoList": [
		{"name": "net1.server", "host": "localhost", "port": 21100},
		{"name": "net1.ptServer", "host": "localhost", "port": 21200},
		{"name": "net2.server", "host": "localhost", "port": 22100}
	]
}
