{
	"entityInfo": {
		"name": "net1.rcClient",
		"group": "Clients",
		"distProtocol": "TCP",
		"usePermanentDistKey": true,
		"permanentDistKey": {
			"cipherKey": "../../credentials/keys/net1/RcClientCipherKey.key",
			"macKey": "../../credentials/keys/net1/RcClientMacKey.key",
			"validity": "365*day"
		},
		"privateKey": "../../credentials/keys/net1/RcClientKey.pem"
	},
	"authInfo": {
		"id": 101,
		"host": "localhost",
		"port": 21900
	},
	"cryptoInfo": {
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		}
	},
	"targetServerInfoList": [
		{
			"name": "net1.server",
			"port": 21100,
			"host": "localhost"
		},
		{
			"name": "net1.ptServer",
			"port": 21200,
			"host": "localhost"
		},
		{
			"name": "net1.rcServer",
			"port": 21300,
			"host": "localhost"
		},
		{
			"name": "net2.server",
			"port": 22100,
			"host": "localhost"
		},
		{
			"name": "net2.ptServer",
			"port": 22200,
			"host": "localhost"
		},
		{
			"name": "net2.rcServer",
			"port": 22300,
			"host": "localhost"
		}
	]
}