{
	"entityInfo": {
		"name": "net1.rcClient",
		"group": "Clients",
		"usePermanentDistKey": true,
		"permanentDistKey": "../../credentials/keys/net1/RcClientKey.key",
		"distKeyValidity": "365*day"
	},
	"authInfo": {
		"id": 101,
		"host": "localhost",
		"port": 21900
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256"
		}
	},
	"targetServerInfoList": [
		{"name": "net1.server", "host": "localhost", "port": 21100},
		{"name": "net1.ptServer", "host": "localhost", "port": 21200},
		{"name": "net1.rcServer", "host": "localhost", "port": 21300},
		{"name": "net2.server", "host": "localhost", "port": 22100},
		{"name": "net2.ptServer", "host": "localhost", "port": 22200},
		{"name": "net2.rcServer", "host": "localhost", "port": 22300}
	]
}
