{
	"entityInfo": {
		"name": "net1.rcServer",
		"group": "Servers",
		"usePermanentDistKey": true,
		"permanentDistKey": "../../credentials/keys/net1/RcServerKey.key",
		"distKeyValidity": "365*day"
	},
	"authInfo": {
		"id": 101,
		"host": "localhost",
		"port": 21900
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256"
		}
	},
	"listeningServerInfo": {
		"host": "localhost",
		"port": 21300
	}
}
