{
	"entityInfo": {
		"name": "net1.rcServer",
		"group": "Servers",
		"distProtocol": "TCP",
		"usePermanentDistKey": true,
		"permanentDistKey": {
			"cipherKey": "../../credentials/keys/net1/RcServerCipherKey.key",
			"macKey": "../../credentials/keys/net1/RcServerMacKey.key",
			"validity": "365*day"
		},
		"privateKey": "../../credentials/keys/net1/RcServerKey.pem"
	},
	"authInfo": {
		"id": 101,
		"host": "localhost",
		"port": 21900
	},
	"cryptoInfo": {
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		}
	},
	"listeningServerInfo": {
		"host": "localhost",
		"port": 21300
	}
}