{
	"entityInfo": {
		"name": "net1.rcUdpServer",
		"group": "Servers",
		"distProtocol": "UDP",
		"usePermanentDistKey": true,
		"permanentDistKey": {
			"cipherKey": "../../credentials/keys/net1/RcUdpServerCipherKey.key",
			"macKey": "../../credentials/keys/net1/RcUdpServerMacKey.key",
			"validity": "365*day"
		},
		"privateKey": "../../credentials/keys/net1/RcUdpServerKey.pem"
	},
	"authInfo": {
		"id": 101,
		"host": "localhost",
		"port": 21902
	},
	"cryptoInfo": {
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		}
	},
	"listeningServerInfo": {
		"host": "localhost",
		"port": 21600
	}
}