{
	"entityInfo": {
		"name": "net1.rcUdpClient",
		"group": "Clients",
		"distProtocol": "UDP",
		"usePermanentDistKey": true,
		"permanentDistKey": "../../credentials/keys/net1/RcUdpClientKey.key",
		"distKeyValidity": "365*day"
	},
	"authInfo": {
		"id": 101,
		"host": "localhost",
		"port": 21902,
		"publicKey": "../../auth_certs/Auth101EntityCert.pem"
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256"
		}
	},
	"targetServerInfoList": [
		{"name": "net1.udpServer", "host": "localhost", "port": 21400},
		{"name": "net2.udpServer", "host": "localhost", "port": 22400},
		{"name": "net1.rcUdpServer", "host": "localhost", "port": 21600},
		{"name": "net2.rcUdpServer", "host": "localhost", "port": 22600}
	]
}
