{
	"entityInfo": {
		"name": "net1.server",
		"group": "Servers",
		"privateKey": "../../credentials/keys/net1/ServerKey.pem"
	},
	"authInfo": {
		"id": 101,
		"host": "localhost",
		"port": 21900,
		"publicKey": "../../auth_certs/Auth101EntityCert.pem"
	},
	"listeningServerInfo": {
		"host": "localhost",
		"port": 21100
	}
}
