// entityInfo (name, group, private key path)
entityInfo		net1.server 	Servers		../../credentials/keys/net1/ServerKey.pem

// authInfo (host, port, public key path)
authInfo		101		localhost		21900		../../auth_certs/Auth101EntityCert.pem

// listeningServerInfo (host, port) - host is always localhost, and my listening port
listeningServerInfo		localhost		21100
