{
	"entityInfo": {
		"name": "net1.udpServer",
		"group": "Servers",
		"distProtocol": "UDP",
		"usePermanentDistKey": false,
		"privateKey": "../../credentials/keys/net1/UdpServerKey.pem"
	},
	"authInfo": {
		"id": 101,
		"host": "localhost",
		"port": 21902,
		"publicKey": "../../auth_certs/Auth101EntityCert.pem"
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		}
	},
	"listeningServerInfo": {
		"host": "localhost",
		"port": 21400
	}
}
