entityInfo.name=net1.client
entityInfo.number_key=3
entityInfo.purpose={\"group\":\"Servers\"}
authInfo.pubkey.path=../auth_certs/Auth101EntityCert.pem
entityInfo.privkey.path=../credentials/keys/net1/Net1.ClientKey.pem
auth.ip.address=127.0.0.1
auth.port.number=21900
entity.server.ip.address=127.0.0.1
entity.server.port=21100


