.idea/libraries/*

# Ignore all xml files in .idea except for a few.
.idea/*.xml
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/misc.xml
!.idea/modules.xml

auth-server/package-lock.json
package-lock.json

*.class
auth-server/target/*.jar
example-auth-db-generator/target/*.jar
example-auth-db-generator/target/*.jar
/auth-server/target/*.jar
javadoc/*.html
javadoc/script.js
javadoc/stylesheet.css
sessionKeyCount*.txt
log/*
*/target/*
auth.db
src/test/target/*
auth-server/log/*
auth-server/target/*
auth-server/auth-server.iml
*/log/*
example-auth-db-generator/target/*
example-auth-db-generator/example-auth-db-generator.iml
*.iml
doc/*
