entityInfo.name=net1.server
entityInfo.purpose={"keyId":00000000}
entityInfo.number_key=1
authInfo.pubkey.path=../auth_certs/Auth101EntityCert.pem
entityInfo.privkey.path=../credentials/keys/net1/Net1.ServerKey.pem
auth.ip.address=127.0.0.1
auth.port.number=21900
entity.server.ip.address=127.0.0.1
entity.server.port.number=21100
network.protocol=TCP