entityInfo.name=net1.client
entityInfo.group=Clients
entityInfo.private.key.path=../../credentials/keys/net1/ClientKey.pem

authInfo.id=101
authInfo.host=localhost
authInfo.port=21900
authInfo.private.key.path=../../auth_certs/Auth101EntityCert.pem

targetServerInfo.name_0=net1.server
targetServerInfo.host_0=localhost
targetServerInfo.port_0=21100
targetServerInfo.name_1=net2.server
targetServerInfo.host_1=localhost
targetServerInfo.port_1=22100
