name=net1.FileSystemManager
purpose={"keyId":00000000}
number_key=1
auth_pubkey_path=../../entity/auth_certs/Auth101EntityCert.pem
privkey_path=../../entity/credentials/keys/net1/Net1.FileSystemManagerKey.pem
auth_ip_address=127.0.0.1
auth_port_number=21900
port_number=21100
ip_address=127.0.0.1
network_protocol=TCP