{
	"entityInfo": {
		"name": "net2.client",
		"group": "Clients",
		"distProtocol": "TCP",
		"usePermanentDistKey": false,
		"privateKey": "../../credentials/keys/net2/ClientKey.pem"
	},
	"authInfo": {
		"id": 102,
		"host": "localhost",
		"port": 22900,
		"publicKey": "../../auth_certs/Auth102EntityCert.pem"
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		}
	},
	"targetServerInfoList": [
		{
			"name": "net1.server",
			"port": 21100,
			"host": "localhost"
		},
		{
			"name": "net1.ptServer",
			"port": 21200,
			"host": "localhost"
		},
		{
			"name": "net1.rcServer",
			"port": 21300,
			"host": "localhost"
		},
		{
			"name": "net2.server",
			"port": 22100,
			"host": "localhost"
		},
		{
			"name": "net2.ptServer",
			"port": 22200,
			"host": "localhost"
		},
		{
			"name": "net2.rcServer",
			"port": 22300,
			"host": "localhost"
		}
	]
}