{
	"entityInfo": {
		"name": "net2.rcServer",
		"group": "Servers",
		"distProtocol": "TCP",
		"usePermanentDistKey": true,
		"permanentDistKey": {
			"cipherKey": "../../credentials/keys/net2/RcServerCipherKey.key",
			"macKey": "../../credentials/keys/net2/RcServerMacKey.key"
		},
		"distKeyValidity": "365*day"
	},
	"authInfo": {
		"id": 102,
		"host": "localhost",
		"port": 22900
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		}
	},
	"listeningServerInfo": {
		"host": "localhost",
		"port": 22300
	}
}
