{
	"entityInfo": {
		"name": "net2.rcUdpClient",
		"group": "Clients",
		"distProtocol": "UDP",
		"usePermanentDistKey": true,
		"permanentDistKey": {
			"cipherKey": "../../credentials/keys/net2/RcUdpClientCipherKey.key",
			"macKey": "../../credentials/keys/net2/RcUdpClientMacKey.key",
			"validity": "365*day"
		},
		"privateKey": "../../credentials/keys/net2/RcUdpClientKey.pem"
	},
	"authInfo": {
		"id": 102,
		"host": "localhost",
		"port": 22902
	},
	"cryptoInfo": {
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		}
	},
	"targetServerInfoList": [
		{
			"name": "net1.udpServer",
			"port": 21400,
			"host": "localhost"
		},
		{
			"name": "net1.rcUdpServer",
			"port": 21600,
			"host": "localhost"
		},
		{
			"name": "net2.udpServer",
			"port": 22400,
			"host": "localhost"
		},
		{
			"name": "net2.rcUdpServer",
			"port": 22600,
			"host": "localhost"
		}
	]
}