{
	"entityInfo": {
		"name": "net2.rcUdpServer",
		"group": "Servers",
		"distProtocol": "UDP",
		"usePermanentDistKey": true,
		"permanentDistKey": "../../credentials/keys/net2/RcUdpServerKey.key",
		"distKeyValidity": "365*day"
	},
	"authInfo": {
		"id": 102,
		"host": "localhost",
		"port": 22902,
		"publicKey": "../../auth_certs/Auth102EntityCert.pem"
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256"
		}
	},
	"listeningServerInfo": {
		"host": "localhost",
		"port": 22600
	}
}
