{
	"entityInfo": {
		"name": "net2.safetyCriticalClient",
		"group": "Clients",
		"distProtocol": "TCP",
		"usePermanentDistKey": false,
		"privateKey": "../../credentials/keys/net2/SafetyCriticalClientKey.pem"
	},
	"authInfo": {
		"id": 102,
		"host": "localhost",
		"port": 22900,
		"publicKey": "../../auth_certs/Auth102EntityCert.pem"
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256",
			"diffieHellman": "secp128r2"
		}
	},
	"targetServerInfoList": [
		{"name": "net1.safetyCriticalServer", "host": "localhost", "port": 21500},
		{"name": "net2.safetyCriticalServer", "host": "localhost", "port": 22500}
	]
}
