{
	"entityInfo": {
		"name": "net2.server",
		"group": "Servers",
		"privateKey": "../../credentials/keys/net2/ServerKey.pem"
	},
	"authInfo": {
		"id": 102,
		"host": "localhost",
		"port": 22900,
		"publicKey": "../../auth_certs/Auth102EntityCert.pem"
	},
	"listeningServerInfo": {
		"host": "localhost",
		"port": 22100
	}
}
