// entityInfo (name, group, private key path)
entityInfo		net2.server 	Servers		../../credentials/keys/net2/ServerKey.pem

// authInfo (host, port, public key path)
authInfo		102		localhost		22900		../../auth_certs/Auth102EntityCert.pem

// listeningServerInfo (host, port) - host is always localhost, and my listening port
listeningServerInfo		localhost		22100
