{
	"entityInfo": {
		"name": "net2.server",
		"group": "Servers",
		"distProtocol": "TCP",
		"usePermanentDistKey": false,
		"privateKey": "../../credentials/keys/net2/ServerKey.pem"
	},
	"authInfo": {
		"id": 102,
		"host": "localhost",
		"port": 22900,
		"publicKey": "../../auth_certs/Auth102EntityCert.pem"
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		}
	},
	"listeningServerInfo": {
		"host": "localhost",
		"port": 22100
	}
}