{
	"entityInfo": {
		"name": "net2.udpClient",
		"group": "Clients",
		"distProtocol": "UDP",
		"usePermanentDistKey": false,
		"privateKey": "../../credentials/keys/net2/UdpClientKey.pem"
	},
	"authInfo": {
		"id": 102,
		"host": "localhost",
		"port": 22902,
		"publicKey": "../../auth_certs/Auth102EntityCert.pem"
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		}
	},
	"targetServerInfoList": [
		{
			"name": "net1.udpServer",
			"port": 21400,
			"host": "localhost"
		},
		{
			"name": "net1.rcUdpServer",
			"port": 21600,
			"host": "localhost"
		},
		{
			"name": "net2.udpServer",
			"port": 22400,
			"host": "localhost"
		},
		{
			"name": "net2.rcUdpServer",
			"port": 22600,
			"host": "localhost"
		}
	]
}