{
	"entityInfo": {
		"name": "net2.udpClient",
		"group": "Clients",
		"distProtocol": "UDP",
		"usePermanentDistKey": false,
		"privateKey": "../../credentials/keys/net2/UdpClientKey.pem"
	},
	"authInfo": {
		"id": 102,
		"host": "localhost",
		"port": 22902,
		"publicKey": "../../auth_certs/Auth102EntityCert.pem"
	},
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256"
		},
		"distCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"hash": "SHA256"
		}
	},
	"targetServerInfoList": [
		{"name": "net1.udpServer", "host": "localhost", "port": 21400},
		{"name": "net2.udpServer", "host": "localhost", "port": 22400},
		{"name": "net1.rcUdpServer", "host": "localhost", "port": 21600},
		{"name": "net2.rcUdpServer", "host": "localhost", "port": 22600}
	]
}
